*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #000000;
    color: white;
  }
  
  .flex{
    display: flex;
  }
  
  .flex h3{
    margin: 0 15px;
  }
  
  nav > h1{
    margin: 0 15px;
  }